language: c

compiler:
  - gcc
  - clang

dist: bionic
sudo: required

matrix:
  include:
    - os: linux
      arch: amd64
    - os: linux
      arch: arm64
    - os: linux
      arch: ppc64le

addons:
  apt:
    update: true
    packages:
    - build-essential
    - fakeroot
    - debhelper
    - libtool
    - libtool-bin
    - libjemalloc-dev
    - libpcap-dev
    - byacc
    - flex
    - liblua5.1-0-dev

install:
  # prefer BSD yacc
  - sudo update-alternatives --set yacc /usr/bin/byacc
  # libnv
  - git clone https://github.com/rmind/nvlist
  - (cd nvlist/pkg && make deb && sudo dpkg -i ../libnv*.deb)
  # libqsbr
  - git clone https://github.com/rmind/libqsbr
  - (cd libqsbr/pkg && make deb && sudo dpkg -i ../libqsbr*.deb)
  # libthmap
  - git clone https://github.com/rmind/thmap
  - (cd thmap/pkg && make deb && sudo dpkg -i ../libthmap*.deb)
  # liblpm
  - git clone https://github.com/rmind/liblpm
  - (cd liblpm/pkg && make deb && sudo dpkg -i ../liblpm*.deb)
  # bpfjit
  - git clone https://github.com/rmind/bpfjit
  - (cd bpfjit && make deb && sudo dpkg -i ../libbpfjit*.deb)
  # libcdb
  - git clone https://github.com/rmind/libcdb
  - (cd libcdb && make deb && sudo dpkg -i ../libcdb*.deb)

script:
  # Build and install the NPF packages.
  - (cd pkg && make deb && sudo dpkg -i ../libnpf*.deb ../npfctl*.deb)
  # Setup the npftest configuration.
  - (cd src/npftest && make && npfctl debug npftest.conf /tmp/npf.nvlist)
  # Run the tests.
  - (cd src/npftest && ./npftest -c /tmp/npf.nvlist -t)
